<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>

    <!-- Menu d'entête -->
    <header>
        <!-- Bouton de retour en arrière -->
        <button class="blue button"><img src="assets/arrow-left.png" alt="return"></button>
    </header>

    <!-- Page de Login -->
    <main>

        <!-- Div pour encadré les informations de Login -->
        <div class="frame">

            <!-- Titre et sous titre -->
            <h1>Welcome!</h1>
            <h3>Log in to discover all our features.</h3>


            <!-- Information - Email avec case à remplir -->
            <h2>E-mail<span class="red">*</span></h2>

            <form>
                <input type="text" class="input">
            </form>


            <!-- Information - MDP avec case à remplir -->
            <h2>Password<span class="red">*</span></h2>

            <form>
                <input type="text" class="input">
            </form>


            <!-- Redirection (lien) si MDP perdu -->
            <a href="#" class="mini">Forgot your password?</a>


            <!-- Div pour le bouton Log in -->
            <div class="darkblue-button">
                <button class="darkblue button">Log in<img src="assets/arrow-right.png" alt="log in"></button>
            </div>


            <!-- Div pour proposer la création d'un compte avec un lien -->
            <div class="new-account">
                <h3>You don't have an account? <a href="#" class="text-blue">Create an account</a></h3>
            </div>

        </div>
    </main>

</body>
</html>