<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page Laboratory Project</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <img class="logo" src="assets/logo.png" alt="logo" />
      <button class="blue button">
        <img src="assets/overview.png" alt="overview" />Overview
      </button>
      <button class="gray button">
        <img src="assets/periph.png" alt="peripheral" />Peripherals Devices
      </button>
      <button class="gray button">
        <img src="assets/user.png" alt="user" />Users
      </button>
      <div class="user-info">
        <div class="user icon">
          <img src="assets/user-icon.png" alt="user-icon" />
        </div>
        <div class="login icon">
          <img src="assets/input-icon.png" alt="login-icon" />
        </div>
      </div>
    </header>
    <main></main>
  </body>
</html>
