* {
  margin: 0;
  padding: 0;
  background-color: #f3f6ff;
}

red{
  color: #ED2F2F;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  background-color: white;
  border-bottom: solid 0px rgb(175, 175, 175);
  border-radius: 0 0 15px 15px;
  box-shadow: 0px 0px 5px rgb(175, 175, 175);
  padding: 15px 50px;
}

.logo {
  max-width: 75px;
  max-height: 75px;
}
.imgregister{
  
  max-width: 15px;
  max-height: 15px;
}
main{
  padding-top: 150px;
}

.register{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family:arial;
  margin-right: 25%;
  margin-left: 25%;
  padding:50px 30px;
  background-color: white;
  border-bottom: solid 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px rgb(175, 175, 175);
}
main div h1{
  color: #2F6FED;
  margin-bottom: 15px;
  font-size: 40px;
}
main div h2{
  font:arial;
  color: #2F6FED;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}

main div .name{
  margin: 0%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
main div .firstname{
  margin-left: 150px;
}

main input{
  border: 0px;
  margin-right: 65%;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 5px rgb(175, 175, 175);
}

main div button{
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #2F6FED;
  color: #FFFFFF;
  font-size: 15px;
  padding: 5px;
  margin-left: 40%;
  font-size: 20px;
  margin-right: 40%;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
  box-shadow:5px rgb(175, 175, 175);
}
main div button:hover{
  background-color: #4a78d3;
  color: #b6c0ff;
  border-radius: 7px 7px 7px 7px;
}
main div p{
  text-align: center;
}


main div a{
  color: #2F6FED;
}
