<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retgistration Page Laboratory Project</title>
    <link rel="stylesheet" href="registration.css" />
  </head>
  <body>
    <header>
      <a href="../accueil/index.html"><img class="logo" src="assets/return.png" alt="logo" /></a>
    </header>

    <main>
      <div>
        <h1>Create an account</h1>
        <h2>Last name<red>*</red></h2>
        <input type="lastname" placeholder="Last name" />
        
        <first_name>
          <h2>First Name<red>*</red></h2>
        </first_name>
        <first_name>
          <input type="firstname" placeholder="First Name" />
        </first_name>
        <h2>E-mail<red>*</red></h2>
        <input type="email" placeholder="Email" />
        <h2>Passwords<red>*</red></h2>
        <input type="password" placeholder="Password" />
        <h2>Confirm passwords<red>*</red></h2>
        <input type="password" placeholder="Password" />
        <button>Register</button><br>
        Already have an account ? <a href="login.html">Login</a> 
      </div>
    </main>
  </body>
</html>
