<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Retgistration Page Laboratory Project</title>
    <link rel="stylesheet" href="registration.css" />
  </head>
  <body>
    <header>
      <a href="../accueil/index.html"><img class="logo" src="assets/return.png" alt="logo" /></a>
    </header>

    <main>
      <div class="register">
        <h1>Create an account</h1>
        <div class="name">
          <div class="lastname">
            <h2>Last name<red>*</red></h2>
            <input type="lastname" placeholder="Last name" />
          </div>
          <div class="firstname">
            <h2>First Name<red>*</red></h2>
            <input type="firstname" placeholder="First Name" />
          </div>
        </div>
        
        <h2>E-mail<red>*</red></h2>
        <input type="email" placeholder="Email" />
        <h2>Passwords<red>*</red></h2>
        <input type="password" placeholder="Password" />
        <h2>Confirm passwords<red>*</red></h2>
        <input type="password" placeholder="Password" />
        <button>Register <img class="imgregister" src="assets/register.png" alt="register" /> </button><br>
        <P>Already have an account ? <a href="login.html">Login</a> </P>
      </div>
    </main>
  </body>
</html>
