{% extends 'base.html.twig' %}

{% block title %}Hello GestionPeripheriquesController!
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Ceci est la page de gestion de périphériques</h1>
	</div>
{% endblock %}
