{% extends 'base.html.twig' %}

{% block title %}Accueil !
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Ceci est la page d'accueil !</h1>
		<p>le début d'un projet fabuleux</p>
	</div>

{% endblock %}